// theme colors
$color-main: #0E7838;
$color-success: #0c6931;
$color-success-muted: #0c6931;
$color-blue: #52A5D8;
$color-blue-light: #A2D2EC;
$link-color: $color-blue;
$link-color-hover: $color-blue;
$link-color-active: $color-blue;

$profile-table-header-color: $color-blue-light;
$pagination-color: $color-blue-light;

$menu-links-active: $color-success-muted;